@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: black;
  }
/* Inter font connection ends */

@font-face { font-family: miama; src: url('Miama-Regular.woff'); } 

/* Miama font connection ends */

.primary-color{
    color: #E6533C;
}

.opacity-text{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}

/* common css ends */

.header{
    width: 1460px;
    height: 715px;
    margin: 0 auto;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 170px;
    margin-top: 30px;
    
}
 .nav-title{
    font-weight: bolder;
    font-size: 2.25rem;
 }

.nav-items ul{
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(219, 215, 215);
    width: 400px;
    height: 44px;
    border-radius: 2.5rem;
    align-items: center;
    padding-left: 0px;
}

.nav-items ul li{
    list-style: none; 
    
}
.nav-items ul li a{
    
    text-decoration: none;
    /* font-size: 1.2rem; */
    margin-right: 1.2rem;
    font-size: 1rem;
    color: white;
}

.home{
    width: 60px;
    /* height: 44px; */
    border-radius: 15px;
    border: none;
    background-color: #E6533C;
    padding: 8px 10px;
    overflow: hidden;
}

/* nav-bar css ends */

.hero-section{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    /* margin: 0px 35px 0px 200px; */
}

.banner-title{
    color: white;
    font-size: 4.75rem;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 28px;
    line-height: 90px;
}

.new-font{
    font-family: 'miama';
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
}

.banner-text{
    max-width: 600px;
    margin-left: 150px;
    margin-right: 88px;
}
.banner-description{
    margin-bottom: 28px;
}
.banner-img{
    max-width: 350px;
    max-height: 580px;
    margin-right: 200px;
    /* position: relative; */
    z-index: -1;
}

.banner-btn1{
    padding: 14px 46px;
    background-color: #E6533C;
    border: none;
    border-radius: 42px;
    margin-right: 14px;
    color: white;
    font-weight: 600;
    font-size: 1.12rem;
}
.banner-btn2{
    padding: 14px 46px;
    border-radius: 42px;
    background-color: black;
    color: rgb(236, 234, 234);
    font-weight: 600;
    font-size: 1.12rem;
    border: 1px solid rgb(228, 226, 226);
}

.sticker1{
    width: 190px;
    height: 98px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 15px;
    margin-left: 1210px;
    margin-top: -500px;
    /* position: absolute; */
}

.sticker1-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    margin-top: 0px;
    margin-bottom: 5px;
}
.sticker1-description{
    color: rgba(255, 255, 255, 0.65);
}

.sticker2{
    width: 206px;
    height: 96px;
    border-radius: 20px;
    background-color: rgba(48, 48, 48, 0.50);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 850px;
    margin-top: 220px;
    /* position:static; */
}

.sticker-ball{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #E6533C;
    margin-right: 10px;
}

.sticker2-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 5px;
    color: rgba(250, 250, 249, 1);
}

.sticker2-description{
    font-size: 1rem;
    color: rgba(239, 237, 232, 0.65);
}
/* header section ends */

.habit-container{
    width: 1050px;
    height: 500px;
    margin: 0 auto;
}

.habit-title{
    color: white;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

.habit-description{
    color: rgba(239, 237, 232, 0.50);
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 58px;
}

.habit-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 40px;
    /* margin: 0 auto; */
}
.habit-cards{
    width: 230px;
    height: 274px;
    text-align: center;
}

.habit-card-img{
    border-radius: 50%;
}
.habit-cards-title{
    color: white;
    font-size: 1.12rem;
    font-weight: 600;
    text-align: center;
}

.habit-cards-description{
    color: rgba(239, 237, 232, 0.50);
    font-size: 0.8rem;
    text-align: center;
}
/* ======================section-01 ends=========================== */

.run-container{
    width: 1060px;
    height: 370px;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #222222;
    margin-bottom: 100px;
}

.run-miles{
    height: 290px;
    width: 443px;
    /* padding: 40px 100px 40px  54px; */
    padding: 40px;
}
.run-title{
    color: white;
    font-weight: 700;
    font-size: 3rem;
    text-align: start;
    margin-bottom: 0px;
    margin-top: 0px;
}

.run-description{
    color: rgba(239, 237, 232, 0.50);
    font-size: 0.8rem;
    text-align: start;
    margin-bottom: 34px;
    line-height: 25px;
}

.run-btn{
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 12px 61px;
    background-color: #E6533C;
    border-radius: 42px;
    border: none;
    cursor: pointer;
}
.run-img{
    width: 366px;
    height: 312px;
    border-radius: 60px;
    /* margin: 30px 662px 30px 32px; */
    padding: 30px;
    margin-bottom: 0px;
}

/* ======================section-02 ends=========================== */

.healthy-container{
    width: 1200px;
    height: 1000px;
    /* background-color: rgb(185, 190, 190, 0.55); */
    margin: 0 auto;
    border-radius: 50px;
    margin-bottom: 100px;
}

.healthy-title{
    color: white;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.healthy-font{
    font-family: 'miama';
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
}

.healthy-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.healthy-card{
    margin: 0 auto;
    margin-top: 50px;
}

.healthy-img{
    height: 250px;
    width: 250px;
    border-radius: 20px;
}

.healthy-card-title{
    color: aliceblue;
    margin-top: 5px;
    text-align: center;
    font-family: 'miama';
}

.healthy-btn{
   padding: 14px 30px;
   margin-left: 50px;
}
/* ======================custom section ends======================== */
.bmi-container{
    width: 100%;
    height: 490px;
    background-color: #222222;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 175px;
    /* justify-content: space-around; */
    align-items: center;
    margin: 0 auto;
}
.bmi-table-container{
    margin-left: 190px;
}
.bmi{
    width: 670px;
    height: 50px;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 100px;
}

.bmi-table-title h3{
    font-size: 1.8rem;
    color: white;
    margin-top: 0px;
}

.bmi-title{
    color: white;
    font-weight: 700;
    font-size: 3rem;
    text-align: start;
    margin-bottom: 0px;
    margin-top: 0px;
}

.bmi-description{
    color: rgba(239, 237, 232, 0.50);
    font-size: 0.8rem;
    text-align: start;
}
table{
    width: 310px;
    height: 216px;
}
table, tr, td, th{
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.6rem;
}
td, th{
    padding: 10px 20px;
}
th{
    font-weight: 600;
    font-size: 0.8rem;
    text-align: start;
}

.bmi-form{
    width: 577px;
    height: 386px;
    margin-top: 35px;
    margin-right: 190px;
}

.bmi-form-title{
    font-size: 1.8rem;
    color: white;
}

.bmi-form-description{
    color: rgba(239, 237, 232, 0.50);
    font-size: 0.8rem;
    text-align: start;
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}
/* form div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
} */

.form-input{
    padding: 13px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
}
#special-input{
    padding: 13px 40px;
    width: 175%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
}

#cal-btn{
    margin-top: 25px;
}

/* =========================section-03 ends========================= */